.inv {
  display: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 54em) {
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 42em) {
  html {
    font-size: 10px;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

body {
  background: black url("../resources/img/nuevoBG.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

main {
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 62em) {
  main {
    width: 100%;
  }
}

.loaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.loaderContainer .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #0847fd;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
  top: 50%;
}
.loaderContainer img {
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 120rem;
}
.container .qrReaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 20;
}
.container .qrReaderContainer .closeQRButton {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-size: 4rem;
  padding: 2rem;
}
.container .structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}
@media only screen and (max-width: 42em) {
  .container .structure {
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 30rem 14rem;
  }
}

@font-face {
  font-family: MontBlack;
  src: url("../resources/fonts/Mont-Black.otf");
}
@font-face {
  font-family: MontHeavy;
  src: url("../resources/fonts/Mont-Heavy.otf");
}
@font-face {
  font-family: MontBold;
  src: url("../resources/fonts/Mont-Bold.otf");
}
@font-face {
  font-family: MontSemiBold;
  src: url("../resources/fonts/Mont-SemiBold.otf");
}
@font-face {
  font-family: MontRegular;
  src: url("../resources/fonts/Mont-Regular.otf");
}
@font-face {
  font-family: MontBook;
  src: url("../resources/fonts/Mont-Book.otf");
}
@font-face {
  font-family: MontLight;
  src: url("../resources/fonts/Mont-Light.otf");
}
.ad {
  grid-area: 1/1/2/3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
  background-color: red;
}
.ad .data .text h1 {
  font-size: 3.6rem;
  font-weight: 300;
  color: white;
  font-family: "MontSemiBold", sans-serif;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 75em) {
  .ad .data .text h1 {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 62em) {
  .ad .data .text h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 54em) {
  .ad .data .text h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 48em) {
  .ad .data .text h1 {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 42em) {
  .ad .data .text h1 {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.ad .data .text h1 span {
  font-weight: 300;
  color: #fdd703;
  font-family: "MontHeavy", sans-serif;
}
.ad .data .logoContainer {
  width: 40rem;
  height: 13rem;
  background: url("../resources/img/logo.svg") center center no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  animation: parpadeo 1s;
  animation-delay: 3s;
}
@media only screen and (max-width: 75em) {
  .ad .data .logoContainer {
    width: 36rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 62em) {
  .ad .data .logoContainer {
    width: 34rem;
    height: 9rem;
  }
}
@media only screen and (max-width: 54em) {
  .ad .data .logoContainer {
    width: 32rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 48em) {
  .ad .data .logoContainer {
    width: 28rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 42em) {
  .ad .data .logoContainer {
    display: none;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ad .imgContainer {
  width: 36rem;
  height: 30rem;
  background: url("../resources/img/img.svg") center center no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}
@media only screen and (max-width: 75em) {
  .ad .imgContainer {
    width: 32rem;
    height: 28rem;
  }
}
@media only screen and (max-width: 62em) {
  .ad .imgContainer {
    width: 30rem;
    height: 26rem;
  }
}
@media only screen and (max-width: 54em) {
  .ad .imgContainer {
    width: 28rem;
    height: 24rem;
  }
}
@media only screen and (max-width: 48em) {
  .ad .imgContainer {
    width: 26rem;
    height: 22rem;
  }
}
@media only screen and (max-width: 42em) {
  .ad .imgContainer {
    display: none;
  }
}

.packages {
  grid-area: 2/1/3/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  gap: 2rem;
  margin: 0rem 0rem 2rem 0rem;
}
@media only screen and (max-width: 48em) {
  .packages {
    grid-area: 3/1/5/3;
  }
}
@media only screen and (max-width: 42em) {
  .packages {
    grid-area: 4/1/5/3;
  }
}
.packages .prom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.packages .prom .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.packages .prom .title h3 {
  font-family: "MontBold", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 75em) {
  .packages .prom .title h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 62em) {
  .packages .prom .title h3 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 54em) {
  .packages .prom .title h3 {
    font-size: 2rem;
  }
}
.packages .prom .title .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
.packages .prom .title .icons .fa-brands {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .packages .prom .title .icons .fa-brands {
    padding-top: 1px;
    border-radius: 1.1rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}
@media only screen and (max-width: 62em) {
  .packages .prom .title .icons .fa-brands {
    padding-top: 2px;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 54em) {
  .packages .prom .title .icons .fa-brands {
    padding-top: 1px;
    border-radius: 1.1rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}
.packages .prom .title .icons .fa-facebook-f {
  background: #3b5998;
  font-size: 1.3rem;
}
.packages .prom .title .icons .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 1.5rem;
}
.packages .prom .title .icons .fa-whatsapp {
  background: #3AC371;
  font-size: 1.5rem;
}
.packages .prom .title .icons .fa-tiktok {
  background: #000;
  font-size: 1.3rem;
}
.packages .prom .subTitle {
  background-color: gold;
  color: #0847fd;
  font-size: 1.5rem;
  font-family: "MontHeavy", sans-serif;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 75em) {
  .packages .prom .subTitle {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 62em) {
  .packages .prom .subTitle {
    font-size: 1.2rem;
  }
}
.packages .cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 42em) {
  .packages .cards {
    flex-wrap: wrap;
  }
}
.packages .cards .card {
  margin: 0.5rem;
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .packages .cards .card {
    width: 14rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 62em) {
  .packages .cards .card {
    width: 12rem;
    height: 12rem;
  }
}
.packages .cards .card img {
  width: 100%;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.forms {
  grid-area: 1/3/3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 6rem 1rem;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}
@media only screen and (max-width: 48em) {
  .forms {
    grid-area: 1/3/5/5;
  }
}
@media only screen and (max-width: 42em) {
  .forms {
    grid-area: 2/1/4/3;
    margin: 2rem auto;
    width: 70%;
    min-width: 250px;
  }
}
.forms .loginContainer {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.forms .loginContainer .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms .loginContainer .header .imgContainer {
  padding: 0.5rem;
  width: 20rem;
  height: 6rem;
  background: url("../resources/img/logoblue.svg") center center no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 75em) {
  .forms .loginContainer .header .imgContainer {
    width: 18rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .loginContainer .header .imgContainer {
    width: 16rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .loginContainer .header .imgContainer {
    width: 14rem;
    height: 4rem;
  }
}
.forms .loginContainer .header h3 {
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-family: "MontLight", sans-serif;
  color: #0847fd;
}
@media only screen and (max-width: 75em) {
  .forms .loginContainer .header h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .loginContainer .header h3 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .loginContainer .header h3 {
    font-size: 1.2rem;
  }
}
.forms .loginContainer .formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.forms .loginContainer .formLogin label {
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0847fd;
}
.forms .loginContainer .formLogin label input {
  width: 100%;
  border: none;
  color: #0847fd;
  background-color: transparent;
  text-align: center;
  outline: none;
  font-size: 1.6rem;
}
@media only screen and (max-width: 75em) {
  .forms .loginContainer .formLogin label input {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .loginContainer .formLogin label input {
    font-size: 1.2rem;
  }
}
.forms .loginContainer .formLogin label button {
  border: none;
  background-color: transparent;
  color: #0847fd;
  font-size: 3rem;
  display: none;
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 75em) {
  .forms .loginContainer .formLogin label button {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .loginContainer .formLogin label button {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .loginContainer .formLogin label button {
    width: 3rem;
    height: 3rem;
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 42em) {
  .forms .loginContainer .formLogin label button {
    display: block;
  }
}
.forms .loginContainer .formLogin .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.forms .loginContainer .formLogin .buttons input,
.forms .loginContainer .formLogin .buttons button {
  color: white;
  border: none;
  width: 60%;
  height: 4rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: "MontSemiBold", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .forms .loginContainer .formLogin .buttons input,
  .forms .loginContainer .formLogin .buttons button {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .loginContainer .formLogin .buttons input,
  .forms .loginContainer .formLogin .buttons button {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .loginContainer .formLogin .buttons input,
  .forms .loginContainer .formLogin .buttons button {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
}
.forms .loginContainer .formLogin .buttons input {
  background-color: #0847fd;
}
.forms .loginContainer .formLogin .buttons button {
  background-color: #61eacf;
}
.forms .freeInternetContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.forms .freeInternetContainer .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms .freeInternetContainer .header .imgContainer {
  padding: 0.5rem;
  width: 20rem;
  height: 6rem;
  background: url("../resources/img/logoblue.svg") center center no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .header .imgContainer {
    width: 18rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .freeInternetContainer .header .imgContainer {
    width: 16rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .freeInternetContainer .header .imgContainer {
    width: 14rem;
    height: 4rem;
  }
}
.forms .freeInternetContainer .header h3 {
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-family: "MontLight", sans-serif;
  color: #0847fd;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .header h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .freeInternetContainer .header h3 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .freeInternetContainer .header h3 {
    font-size: 1.2rem;
  }
}
.forms .freeInternetContainer .formFreeInternet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.forms .freeInternetContainer .formFreeInternet label {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.forms .freeInternetContainer .formFreeInternet label input {
  width: 80%;
  border: none;
  color: #0847fd;
  background-color: transparent;
  padding: 0 0.5rem;
  border-bottom: 1px solid #0847fd;
  outline: none;
  font-family: "MontSemiBold", sans-serif;
}
.forms .freeInternetContainer .formFreeInternet label input::placeholder {
  opacity: 0.5;
  color: #0847fd;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .formFreeInternet label input {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .freeInternetContainer .formFreeInternet label input {
    font-size: 1.2rem;
  }
}
.forms .freeInternetContainer .formFreeInternet #address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.forms .freeInternetContainer .formFreeInternet #address select {
  border: 1px solid #0847fd;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: #0847fd;
  color: #fff;
  font-family: "MontBook", sans-serif;
  width: 80%;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .formFreeInternet #address select {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 62em) {
  .forms .freeInternetContainer .formFreeInternet #address select {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .freeInternetContainer .formFreeInternet #address select {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 42em) {
  .forms .freeInternetContainer .formFreeInternet #address select {
    grid-area: 2/1/4/3;
  }
}
.forms .freeInternetContainer .formFreeInternet #usoDatos {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontBook", sans-serif;
  color: #0847fd;
  user-select: none;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .formFreeInternet #usoDatos {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .freeInternetContainer .formFreeInternet #usoDatos {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 42em) {
  .forms .freeInternetContainer .formFreeInternet #usoDatos {
    font-size: 1.2rem;
  }
}
.forms .freeInternetContainer .formFreeInternet #usoDatos #cbox1 {
  width: auto;
}
.forms .freeInternetContainer .formFreeInternet .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.forms .freeInternetContainer .formFreeInternet .buttons a,
.forms .freeInternetContainer .formFreeInternet .buttons button {
  color: white;
  border: none;
  width: 40%;
  height: 3rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: "MontSemiBold", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .forms .freeInternetContainer .formFreeInternet .buttons a,
  .forms .freeInternetContainer .formFreeInternet .buttons button {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 62em) {
  .forms .freeInternetContainer .formFreeInternet .buttons a,
  .forms .freeInternetContainer .formFreeInternet .buttons button {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 54em) {
  .forms .freeInternetContainer .formFreeInternet .buttons a,
  .forms .freeInternetContainer .formFreeInternet .buttons button {
    font-size: 1rem;
  }
}
.forms .freeInternetContainer .formFreeInternet .buttons a {
  background-color: #0847fd;
}
.forms .freeInternetContainer .formFreeInternet .buttons button {
  background-color: #61eacf;
}
.forms .freeInternetContainer .formFreeInternet .buttons #back {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
